<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark fluid">
  <a class="navbar-brand" href="<%=lists_index_path%>">Bucket list del 18°</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
      <%if user_signed_in?%>
        <a class="nav-link"> Completada <%= current_user.completes_count%> de 9</a>  
      <%end%> 
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <%if user_signed_in?%>
                <%=current_user.email%>
           <%else%>
                Ingreso
            <%end%> 
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%if user_signed_in?%>
                <a class="dropdown-item" href="<%=destroy_user_session_path%>" data-method="DELETE">Cerrar</a>
            <%else%>
                <a class="dropdown-item" href="<%= new_user_session_path%>">Ingreso</a>
                <a class="dropdown-item" href="<%=new_user_registration_path%>">Registro</a>
            <%end%>    
        </div>
      </li>
    </ul>
  </div>
</nav>